//importing mixin and var files 
@import "mixin";
@import "var";

//Partials feature is nothing but creating mixin file and variable file seprately with mentioning underscore at start 
// _mixin.scss and _var.scss
//below code contains #nesting feature, #mixins using and #var using
.container {
  @include flexcode;
  background-color: aquamarine;

    h1 {
        @include headingcode(red);
            &:hover{
            color: yellow
            }
    }

    h3 {
        @include headingcode(green); //passing color as a parameter to mixins
            &::after{
                content: " and SASS(Synthetically Awesome StyleSheet)";
                color: blue;
            }
            &::before{
            content: " ====> ";
            color: red;
            }
    }
    h4 {
        color: $text-color;
        font-size: $textSize; 
    }
    p {
        font-size: $textSizeul;
    }
    ul li{
       font-size: $textSizeul;
       color:crimson;
    }
}

// Extension used for SCSS is "live sass compiler" 


